// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

$brightorange: hsl(31, 77%, 52%);
$darkcyan: hsl(184, 100%, 22%);
$verydarkcyan: hsl(179, 100%, 13%);

// ### Neutral

$transparentwhite: hsla(0, 0%, 100%, 0.75); //Paragraph
$verylightgray: hsl(0, 0%, 95%); //(background, headings, buttons)

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import 'general';
@import 'section1grid3';